version: "3.9"

services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    env_file:
      - ./Backend/.env
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build:
      context: ./FrontendTotem
      dockerfile: Dockerfile
      args:
        EXPO_PUBLIC_API_BASE_URL: "http://192.168.178.72:3000"
        EXPO_PUBLIC_API_PREFIX: ""
    ports:
      - "8081:80"
    depends_on:
      - backend
    restart: unless-stopped
